{% load static %}

<!doctype html>
<html lang="en">

  <head>
    <title>Realtors99</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="icon" 
      type="image/png" 
      href="https://image.flaticon.com/icons/svg/948/948712.svg">
    <link href="https://fonts.googleapis.com/css?family=DM+Sans:300,400,700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'app/fonts/icomoon/style.css' %}">

    <link rel="stylesheet" href="{% static 'app/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'app/css/bootstrap-datepicker.css'%}">
    <link rel="stylesheet" href="{% static 'app/css/jquery.fancybox.min.css' %}">
    <link rel="stylesheet" href="{% static 'app/css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'app/css/owl.theme.default.min.css' %}">
    <link rel="stylesheet" href="{% static 'app/fonts/flaticon/font/flaticon.css' %}">
    <link rel="stylesheet" href="{% static 'app/css/aos.css' %}">

    <!-- MAIN CSS -->
    <link rel="stylesheet" href="{% static 'app/css/style.css' %}">

  </head>

  <body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">

    
    <div class="site-wrap" id="home-section">

      <div class="site-mobile-menu site-navbar-target">
        <div class="site-mobile-menu-header">
          <div class="site-mobile-menu-close mt-3">
            <span class="icon-close2 js-menu-toggle"></span>
          </div>
        </div>
        <div class="site-mobile-menu-body"></div>
      </div>



      <header class="site-navbar site-navbar-target" role="banner">

        <div class="container">
          <div class="row align-items-center position-relative">

            <div class="col-3 ">
              <div class="site-logo">
                <a href="{% url 'home' %}" >Realtors99</a>
              </div>
            </div>

            <div class="col-9  text-right">
              

              <span class="d-inline-block d-lg-none"><a href="#" class="text-white site-menu-toggle js-menu-toggle py-5 text-white"><span class="icon-menu h3 text-white"></span></a></span>

              

              <nav class="site-navigation text-right ml-auto d-none d-lg-block" role="navigation">
                <ul class="site-menu main-menu js-clone-nav ml-auto ">
                  <li class="active"><a href="{% url 'home' %}" class="nav-link">Home</a></li>
                  <!--<li><a href="agents.html" class="nav-link">Agents</a></li> -->
                  <li><a href="{% url 'property' %}" class="nav-link">Properties</a></li>
                  <li><a href="{% url 'about' %}" class="nav-link">About</a></li>
                  <li><a href="{% url 'blog' %}" class="nav-link">Blog</a></li>
                  <li><a href="{% url 'contact' %}" class="nav-link">Contact</a></li>
                </ul>
              </nav>
            </div>

            
          </div>
        </div>

      </header>

    <div class="ftco-blocks-cover-1">
      <div class="site-section-cover overlay" data-stellar-background-ratio="0.5" style="background-image: url({% static 'app/images/a.jpg' %})">
        <div class="container">
          <div class="row align-items-center justify-content-center text-center">
            <div class="col-md-7">
              <h1 class="mb-2">Our Properties</h1>
              <p class="text-white">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta cupiditate ipsum porro, deserunt iure vel aliquam, eos quaerat.</p>
              <p><a class="btn btn-secondary text-white px-4 py-3">Coming Soon</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    

    <form action="{% url 'searchproperty' %}">
      <div class="realestate-filter">
        <div class="container">
          <div class="realestate-filter-wrap nav">
            <a href="#for-rent" class="active" data-toggle="tab" id="rent-tab" aria-controls="rent" aria-selected="true">For Rent</a>
            <a href="#for-sale" class="" data-toggle="tab" id="sale-tab" aria-controls="sale" aria-selected="false">For Sale</a>
          </div>
        </div>
      </div>
      
      <div class="realestate-tabpane pb-5">
        <div class="container tab-content">
           <div class="tab-pane active" id="for-rent" role="tabpanel" aria-labelledby="rent-tab">

             <div class="row">
               <div class="col-md-4 form-group">
                 <select name="" id="" class="form-control w-100">
                   <option value="">All Types</option>

                   <option value="">House</option>
                   <option value="">Flat</option>
                   <option value="">Portion</option>
                   <option value="">Room</option>
                   <option value="">Pent/Farm House</option>
                 </select>
               </div>
               <div class="col-md-4 form-group">
                 <select name="" id="" class="form-control w-100">
                   <option value="">Any Location</option>
                   
                   <option value="">G-9</option>
                   <option value="">DHA</option>
                   <option value="">F-11</option>
                   <option value="">I-8</option>
                   <option value="">Gulberg</option>
                   <option value="">Faisal Town</option>
                   <option value="">Bahria Town</option>
                   <option value="">FECHS</option>
                   <option value="">G-14</option>
                   <option value="">Green Avenue</option> 
                 </select>
               </div>
             </div>

             <div class="row">
               <div class="col-md-4 form-group">
                 <select name="" id="" class="form-control w-100">
                   <option value="">Any Bedrooms</option>
                   <option value="">0</option>
                   <option value="">1</option>
                   <option value="">2</option>
                   <option value="">3+</option>
                 </select>
               </div>
               <div class="col-md-4 form-group">
                 <select name="" id="" class="form-control w-100">
                   <option value="">Any Bathrooms</option>
                   <option value="">0</option>
                   <option value="">1</option>
                   <option value="">2</option>
                   <option value="">3+</option>
                 </select>
               </div>
               <div class="col-md-4 form-group">
                 <div class="row">
                   <div class="col-md-6 form-group">
                     <select name="" id="" class="form-control w-100">
                       <option value="">Min Price</option>
                       <option value="">Rs.5000</option>
                       <option value="">Rs.10,000</option>
                       <option value="">Rs.15,000</option>
                       <option value="">Rs.20,000</option>
                     </select>
                   </div>
                   <div class="col-md-6">
                     <select name="" id="" class="form-control w-100">
                       <option value="">Max Price</option>
                       <option value="">Rs.25,000</option>
                       <option value="">Rs.50,000</option>
                       <option value="">Rs.75,000</option>
                       <option value="">Rs.100,000</option>
                       <option value="">Rs.100,000,000</option>
                     </select>
                   </div>
                 </div>
               </div>
             </div>
             <div class="row">
               <div class="col-md-4">
                 <input type="submit" class="btn btn-black py-3 btn-block" value="Submit">
               </div>
             </div>

           </div>
           <div class="tab-pane" id="for-sale" role="tabpanel" aria-labelledby="sale-tab">
             <div class="row">
               <div class="col-md-4 form-group">
                 <select name="" id="" class="form-control w-100">
                   <option value="">All Types</option>

                   <option value="">House</option>
                   <option value="">Flat</option>
                   <option value="">Portion</option>
                   <option value="">Room</option>
                   <option value="">Pent/Farm House</option>
                 </select>
               </div>
               <div class="col-md-4 form-group">
                 <select name="" id="" class="form-control w-100">
                   <option value="">Any Location</option>
                   
                   <option value="">G-9</option>
                   <option value="">DHA</option>
                   <option value="">F-11</option>
                   <option value="">I-8</option>
                   <option value="">Gulberg</option>
                   <option value="">Faisal Town</option>
                   <option value="">Bahria Town</option>
                   <option value="">FECHS</option>
                   <option value="">G-14</option>
                   <option value="">Green Avenue</option> 
                 </select>
               </div>
             </div>

             <div class="row">
               <div class="col-md-4 form-group">
                 <select name="" id="" class="form-control w-100">
                   <option value="">Any Bedrooms</option>
                   <option value="">0</option>
                   <option value="">1</option>
                   <option value="">2</option>
                   <option value="">3+</option>
                 </select>
               </div>
               <div class="col-md-4 form-group">
                 <select name="" id="" class="form-control w-100">
                   <option value="">Any Bathrooms</option>
                   <option value="">0</option>
                   <option value="">1</option>
                   <option value="">2</option>
                   <option value="">3+</option>
                 </select>
               </div>
               <div class="col-md-4 form-group">
                 <div class="row">
                   <div class="col-md-6 form-group">
                     <select name="" id="" class="form-control w-100">
                       <option value="">Min Price</option>
                       <option value="">Rs.5000</option>
                       <option value="">Rs.10,000</option>
                       <option value="">Rs.15,000</option>
                       <option value="">Rs.20,000</option>
                     </select>
                   </div>
                   <div class="col-md-6">
                     <select name="" id="" class="form-control w-100">
                       <option value="">Max Price</option>
                       <option value="">Rs.25,000</option>
                       <option value="">Rs.50,000</option>
                       <option value="">Rs.75,000</option>
                       <option value="">Rs.100,000</option>
                       <option value="">Rs.100,000,000</option>
                     </select>
                   </div>
                 </div>
               </div>
             </div>
             <div class="row">
               <div class="col-md-4">
                 <input type="submit" class="btn btn-black py-3 btn-block" value="Submit">
               </div>
             </div>

           </div>
        </div>
      </div>
    </form>
    

    <div class="site-section bg-black">
      <div class="container">
        
        <div class="row">
          {% for property in propertys %}
            <div class="col-md-4 mb-5">
              <div class="media-38289">
                <a href="{% url 'propertysingle' %}" class="d-block"><img src="{{ property.photo_main.url }}" alt="Image" class="img-fluid"></a>
                <div class="text">
                <div class="d-flex justify-content-between mb-3">
                  <div class="sq d-flex align-items-center"><span class="wrap-icon icon-fullscreen"></span> <span>{{ property.sqft }} Sq Ft.</span></div>
                  <div class="bed d-flex align-items-center"><span class="wrap-icon icon-bed"></span> <span>{{ property.bedrooms }}</span></div>
                  <div class="bath d-flex align-items-center"><span class="wrap-icon icon-bath"></span> <span>{{ property.bathrooms }}</span></div>
                </div>
                <h3 class="mb-3"><a href="#">{{ property.price }}</a></h3>
                <span class="d-block small address d-flex align-items-center"> <span class="icon-room mr-3 text-primary"></span> <span>{{ property.address }}</span></span>
                </div>
              </div>
            </div>
          {% endfor %}

          

          <!--<div class="col-md-4 mb-5">
            <div class="media-38289">
            <a href="property-single.html" class="d-block"><img src="{% static 'app/images/img_2.jpg' %}" alt="Image" class="img-fluid"></a>
            <div class="text">
              <div class="d-flex justify-content-between mb-3">
                <div class="sq d-flex align-items-center"><span class="wrap-icon icon-fullscreen"></span> <span>2911 Sq Ft.</span></div>
                <div class="bed d-flex align-items-center"><span class="wrap-icon icon-bed"></span> <span>2.</span></div>
                  <div class="bath d-flex align-items-center"><span class="wrap-icon icon-bath"></span> <span>2</span></div>
              </div>
              <h3 class="mb-3"><a href="#">$1,570,000</a></h3>
              <span class="d-block small address d-flex align-items-center"> <span class="icon-room mr-3 text-primary"></span> <span>156/10 Sapling Street, Harrison, ACT 2914</span></span>
            </div>
          </div>
          </div>
          <div class="col-md-4 mb-5">
            <div class="media-38289">
              <a href="property-single.html" class="d-block"><img src="{% static 'app/images/img_3.jpg' %}" alt="Image" class="img-fluid"></a>
              <div class="text">
                <div class="d-flex justify-content-between mb-3">
                  <div class="sq d-flex align-items-center"><span class="wrap-icon icon-fullscreen"></span> <span>2911 Sq Ft.</span></div>
                  <div class="bed d-flex align-items-center"><span class="wrap-icon icon-bed"></span> <span>2.</span></div>
                  <div class="bath d-flex align-items-center"><span class="wrap-icon icon-bath"></span> <span>2</span></div>
                </div>
                <h3 class="mb-3"><a href="#">$980,000</a></h3>
                <span class="d-block small address d-flex align-items-center"> <span class="icon-room mr-3 text-primary"></span> <span>156/10 Sapling Street, Harrison, ACT 2914</span></span>
              </div>
            </div>
          </div>

          <div class="col-md-4 mb-5">
            <div class="media-38289">
              <a href="property-single.html" class="d-block"><img src="{% static 'app/images/img_1.jpg' %}" alt="Image" class="img-fluid"></a>
              <div class="text">
                <div class="d-flex justify-content-between mb-3">
                  <div class="sq d-flex align-items-center"><span class="wrap-icon icon-fullscreen"></span> <span>2911 Sq Ft.</span></div>
                  <div class="bed d-flex align-items-center"><span class="wrap-icon icon-bed"></span> <span>2.</span></div>
                  <div class="bath d-flex align-items-center"><span class="wrap-icon icon-bath"></span> <span>2</span></div>
                </div>
                <h3 class="mb-3"><a href="#">$570,000</a></h3>
                <span class="d-block small address d-flex align-items-center"> <span class="icon-room mr-3 text-primary"></span> <span>156/10 Sapling Street, Harrison, ACT 2914</span></span>
              </div>
            </div>
          </div>
          <div class="col-md-4 mb-5">
            <div class="media-38289">
            <a href="property-single.html" class="d-block"><img src="{% static 'app/images/img_2.jpg' %}" alt="Image" class="img-fluid"></a>
            <div class="text">
              <div class="d-flex justify-content-between mb-3">
                <div class="sq d-flex align-items-center"><span class="wrap-icon icon-fullscreen"></span> <span>2911 Sq Ft.</span></div>
                <div class="bed d-flex align-items-center"><span class="wrap-icon icon-bed"></span> <span>2.</span></div>
                  <div class="bath d-flex align-items-center"><span class="wrap-icon icon-bath"></span> <span>2</span></div>
              </div>
              <h3 class="mb-3"><a href="#">$1,570,000</a></h3>
              <span class="d-block small address d-flex align-items-center"> <span class="icon-room mr-3 text-primary"></span> <span>156/10 Sapling Street, Harrison, ACT 2914</span></span>
            </div>
          </div>
          </div>
          <div class="col-md-4 mb-5">
            <div class="media-38289">
              <a href="property-single.html" class="d-block"><img src="{% static 'app/images/img_3.jpg' %}" alt="Image" class="img-fluid"></a>
              <div class="text">
                <div class="d-flex justify-content-between mb-3">
                  <div class="sq d-flex align-items-center"><span class="wrap-icon icon-fullscreen"></span> <span>2911 Sq Ft.</span></div>
                  <div class="bed d-flex align-items-center"><span class="wrap-icon icon-bed"></span> <span>2.</span></div>
                  <div class="bath d-flex align-items-center"><span class="wrap-icon icon-bath"></span> <span>2</span></div>
                </div>
                <h3 class="mb-3"><a href="#">$980,000</a></h3>
                <span class="d-block small address d-flex align-items-center"> <span class="icon-room mr-3 text-primary"></span> <span>156/10 Sapling Street, Harrison, ACT 2914</span></span>
              </div>
            </div>
          </div> -->


          <div class="col-12 mt-5 text-center pagination-39291">
            <span class="active">1</span>
            <a href="#">2</a>
            <a href="#">3</a>
            <a href="#">4</a>
          </div>

          
          
        </div>
      </div>
    </div>


    <div class="site-section bg-primary">
      <div class="container block-13">
        <div class="nonloop-block-13 owl-carousel">
          <div class="testimonial-38920 d-flex align-items-start">
            <div class="pic mr-4"><img src="{% static 'app/images/person_1.jpg' %}" alt=""></div>
            <div>
              <span class="meta">Business Man</span>
              <h3 class="mb-4">Josh Long</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo sapiente unde pariatur id, hic quos nihil nulla veritatis!</p>
              <div class="mt-4">
                <span class="icon-star text-white"></span>
                <span class="icon-star text-white"></span>
                <span class="icon-star text-white"></span>
                <span class="icon-star text-white"></span>
              </div>
            </div>
          </div>

          <div class="testimonial-38920 d-flex align-items-start">
            <div class="pic mr-4"><img src="{% static 'app/images/person_1.jpg' %}" alt=""></div>
            <div>
              <span class="meta">Business Woman</span>
              <h3 class="mb-4">Jean Doe</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo sapiente unde pariatur id, hic quos nihil nulla veritatis!</p>
              <div class="mt-4">
                <span class="icon-star text-white"></span>
                <span class="icon-star text-white"></span>
                <span class="icon-star text-white"></span>
                <span class="icon-star text-white"></span>
              </div>
            </div>
          </div>

          <div class="testimonial-38920 d-flex align-items-start">
            <div class="pic mr-4"><img src="{% static 'app/images/person_1.jpg' %}" alt=""></div>
            <div>
              <span class="meta">Business Woman</span>
              <h3 class="mb-4">Jean Doe</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo sapiente unde pariatur id, hic quos nihil nulla veritatis!</p>
              <div class="mt-4">
                <span class="icon-star text-white"></span>
                <span class="icon-star text-white"></span>
                <span class="icon-star text-white"></span>
                <span class="icon-star text-white"></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    


    <footer class="site-footer">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <h3 class="text-white h5 mb-3">Subscribe</h3>
            <form action="" class="d-flex">
              <input type="text" class="form-control mr-3" placeholder="Enter your email">
              <input type="submit" class="btn btn-primary text-white" value="Send Now">
            </form>
          </div>
          <div class="col-md-3 ml-auto">
            <h3 class="text-white h5 mb-3">Subscribe</h3>
            <ul class="list-unstyled menu-arrow">
              <li><a href="{% url 'about' %}">About Us</a></li>
              <li><a href="{% url 'about' %}">Testimonials</a></li>
              <!--<li><a href="#">Terms of Service</a></li>
              <li><a href="#">Privacy</a></li> -->
              <li><a href="{% url 'contact' %}">Contact Us</a></li>
            </ul>
          </div>
          <div class="col-md-4">
            <h3 class="text-white h5 mb-3">About</h3>
            <p>Realtors99 is the best and the most afordable Real estate agency. Find your dream home with us!</p>
          </div>
          <div class="border-top pt-5">
              <p>
            Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved 
            </p>
          </div>

        </div>
      </div>
    </footer>

    </div>

   <script src="{% static 'app/js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'app/js/jquery-migrate-3.0.0.js' %}"></script>
    <script src="{% static 'app/js/popper.min.js' %}"></script>
    <script src="{% static 'app/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'app/js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'app/js/jquery.sticky.js' %}"></script>
    <script src="{% static 'app/js/jquery.waypoints.min.js' %}"></script>
    <script src="{% static 'app/js/jquery.animateNumber.min.js' %}"></script>
    <script src="{% static 'app/js/jquery.fancybox.min.js' %}"></script>
    <script src="{% static 'app/js/jquery.stellar.min.js' %}"></script>
    <script src="{% static 'app/js/jquery.easing.1.3.js' %}"></script>
    <script src="{% static 'app/js/bootstrap-datepicker.min.js' %}"></script>
    <script src="{% static 'app/js/aos.js' %}"></script>

    <script src="{% static 'app/js/main.js' %}"></script>
  </body>

</html>

